Dear <%= @user.name %>,<br /><br />

HR Department has sent you the payslip of this Month <br />
Please kindly find the attachment in this e-mail and check it carefully.<br />

Thanks and best regards,<br />
===============================<br />
HR Department<br />
Framgia Vietnam Co., Ltd<br />
13F KaengNam Building, Duy Tan street, Cau Giay district, Hanoi, Vietnam<br />
Mail: hr@framgia.com<br />
Tel: 84 4 3795 5417<br />
<p>Hello there, this is our image</p>
 
<%= image_tag attachments['image.jpg'].url, alt: 'My Photo',
                                            class: 'photos' %>
<%= url_for(host: 'example.com',
            controller: 'welcome',
            action: 'greeting') %>
<%= user_url(@user, host: 'example.com') %>