<div class="center">
  <h3>Program for sending Emails </h3>
    </br>
    <div class="row">
      <%= form_tag excels_import_path, multipart: true do %>      
        <%= file_field_tag :file %>
        <%= submit_tag "Import", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
</div>